@import 'styles/_shared.scss';

.item--container {
  box-sizing: border-box;
  max-width: $max-width;
  margin: 20px auto;
  display: inline-block;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: stretch;
  grid-auto-flow: row dense;

  img {
    grid-column: 1 / 2;
    object-fit: contain;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: $box-shadow;
  }
  
  .item-info {
    grid-column: 2 / -1;
    text-align: left;
    background: white;
    border-radius: 6px;
    box-shadow: $box-shadow;
  }
  
  .item-bidding-info {
    padding: 10px;
    background-color: $theme-color--light;
    font-weight: 600;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    h1 {
      color: $theme-color;
      font-size: 48px;
      font-weight: 700;
    }

    h3 {
      color: $grey;
      text-transform: uppercase;
      margin-top: -20px;
      font-size: 12px;
    }

    h4 {
      color: $med-grey;
      font-weight: 700;
      font-size: 14px;
      margin-top: -5px;
    }
  }
  
  .item-description, .item-title {
    margin: 2em;
    line-height: 28px;
  } 
  
  #description-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
  }

  .header--secondary {
    grid-column: 1 / -1;
    border-bottom: 1px solid $grey;
    color: $dark-grey;
    text-align: left;
    padding: 10px;
    font-weight: 700;
    margin-bottom: -10px;
  }
}

@media (max-width: 900px) {
  .item--container {
      grid-template-columns: repeat(1, 1fr);

      img {
        grid-column: 1 / -1;
      }

      .item-info {
        grid-column: 1 / -1;
      }
  }
}