@import 'styles/_shared.scss';

.user-bid--container {
    .item--card-container {
        border-radius: 6px 6px 0px 0px;

        h1 {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
    
            min-height: 65px !important;
            max-height: 65px !important;
            text-overflow: ellipsis;
            white-space: pre-line;
            overflow: hidden !important;
            margin-bottom: 70px !important;
        }
    }

    .user-bids--grid {
        &:last-child {
            border-radius: 6px;
        }
    }
}

.no-bids {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: $med-grey;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 6px;
    padding: 40px;
    width: 95%;
    margin: 0 auto;
    grid-column: 1 / -1;

    p {
        font-size: 18px;
        margin: 0 auto;
    }
}