@import 'styles/_shared.scss';

.user-bid--container {
    .item--card-container {
        border-radius: 6px 6px 0px 0px;
    }

    .user-bids--grid {
        &:last-child {
            border-radius: 6px;
        }
    }
}

.no-bids {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    color: $med-grey;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 6px;
    padding: 40px;
    width: 95%;
    margin: 0 auto;
    grid-column: 1 / -1;

    p {
        font-size: 18px;
        margin: 0 auto;
    }
}