@import 'styles/_shared.scss';

.login--container {
    background-color: white;
    width: 400px;
    padding: 40px 30px;
    border-radius: 6px;
    box-shadow: $box-shadow-blue;
    margin: 20% auto;
    justify-items: center;
    align-items: center;
}
