@import 'styles/_shared.scss';

.login--container {
    background-color: white;
    width: 400px;
    padding: 140px 20px 0px 30px;
    border-radius: 6px;
    box-shadow: $box-shadow-blue;
    margin: 30% auto;
    height: 200px;
    justify-items: center;
    align-items: center;
}
