@import 'styles/_shared.scss';

.page {
    @include page;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-y: hidden;
}

.page--theme {
    background-color: $theme-color;
}

@media (max-width: 600px) {
    .page {
        padding: 20px 40px;
    }
}